html{
	background-color: darkslategray;
	position: relative;
}
main{
	display: flex;
	justify-content: center;
	align-items: center;
}
.key{
	text-align: center;
	vertical-align: bottom;
}
.white {
	position: relative;
    background:white;
    width: 14%;
    left: 0%;
    height: 100%;
	z-index: 1;
    margin: 0 2px;
}
.white.active{
	background-color: lightgray;
}
.black{
	position: absolute;
    background:black;
	color: white;
    width: 50%;
	left: -25%;
	top: 0%;
    height: 60%;
	z-index: 2;
}
.black.active{
	background-color: dimgray;
}
header{
	color: white;
	text-align: center;
}
.piano{
	position: relative;
	width: 75%;
	display: flex;
	aspect-ratio: 18/7;
    flex-flow: row nowrap;
}