html{height: 100%;}
body{
	background-color: rgb(104, 78, 13);
	position: relative;
	height: 100%;
}
main{
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}
.key{
	text-align: center;
	vertical-align: bottom;
}
.white {
	position: relative;
    background:white;
    width:var(--whiteWidth);
    left: 0%;
    height: 100%;
	z-index: 1;
	margin: 0 1px;
}
.white.active{
	background-color: lightgray;
}
.black{
	position: relative;
    background:black;
	color: white;
    width: calc(var(--whiteWidth)/2);
	margin-left: calc(var(--whiteWidth)/-4);
	margin-right: calc(var(--whiteWidth)/-4);
    height: 60%;
	z-index: 2;
}
.black.active{
	background-color: dimgray;
}
header{
	color: white;
	background: black;
	text-align: center;
}
footer{
	background-color: black;
	margin-top: 10%;
	height: auto;
}
.piano{
	--whiteKeys: 14;
	--first:39;
	--whiteWidth: calc(100%/var(--whiteKeys));
	position: relative;
	width: 75%;
	display: flex;
	aspect-ratio: 18/7;
	height: auto;
    flex-flow: row nowrap;
}